In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from xgboost import XGBRegressor
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
df1 = pd.read_csv(r"Banana2_with_rot_hours.csv")
df2 = pd.read_csv(r"Banana3_with_rot_hours.csv")

In [3]:
df1

     Hour  MQ2  MQ3  MQ4  MQ5  MQ9  MQ135  Temp   Hum  Hours Left to Rot
0       0  210  385  192  241  127    329  33.2    49                109
1       1  202  365  188  229  128    339  33.2  48.6                108
2       2  201  350  198  224  127    321  33.5  49.8                107
3       3  196  355  186  219  128    308  33.5  50.4                106
4       4  190  345  184  213  128    298  33.6  51.3                105
..    ...  ...  ...  ...  ...  ...    ...   ...   ...                ...
176   176  283  459  243  264  160    357  32.4  57.5                  0
177   177  271  448  247  283  159    371  32.1  54.9                  0
178   178  267  439  255  300  160    382  32.3  54.5                  0
179   179  247  432  264  302  159    429  32.7  51.8                  0
180   180  253  433  250  277  159    401    33  46.4                  0

[181 rows x 10 columns]

In [4]:
df2

     Hour  MQ2  MQ3  MQ4  MQ5  MQ9  MQ135  Temp   Hum  Hours Left to Rot
0       0  244  433  241  340  126    428  30.4  59.1                 94
1       1  242  420  239  335  127    432  30.4    58                 93
2       2  252  462  246  356  128    424  32.4  48.7                 92
3       3  241  462  236  341  127    401  32.8  48.9                 91
4       4  241  468  235  333  127    405  32.6    47                 90
..    ...  ...  ...  ...  ...  ...    ...   ...   ...                ...
221   221  262  499  275  342  149    424  32.6  55.2                  0
222   222  267  522  276  331  147    417  33.1  55.8                  0
223   223  283  534  252  303  147    398  32.8  56.9                  0
224   224  262  510  261  331  147    400  32.7  55.3                  0
225   225  284  526  258  315  147    399  32.8  57.1                  0

[226 rows x 10 columns]

In [5]:
# function for filling the missing values of temperature and humidity attributes
def fill_nan_values(df):
    df_filled = df.copy()
    
    df_filled['Temp'] = pd.to_numeric(df_filled['Temp'], errors='coerce')
    df_filled['Hum'] = pd.to_numeric(df_filled['Hum'], errors='coerce')
    
    df_filled['Temp'] = df_filled['Temp'].interpolate(method='linear').ffill().bfill().round(1)
    df_filled['Hum'] = df_filled['Hum'].interpolate(method='linear').ffill().bfill().round(1)
    
    return df_filled

df1 = fill_nan_values(df1)
df2 = fill_nan_values(df2)